*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FUENTE DE LA SERIE */
@font-face {
    font-family: 'miFuente';
    src: url('fuentes/get_schwifty.ttf') format('truetype');
  }
  

body{
    display: block;
    background: linear-gradient(220.55deg, #FF5E98 0%, #0F213E 100%);
}

h1{
    text-align: center;
    font-size: 50px;
    background-color: rgb(14, 30, 255, 0.8);
    padding: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h1 span{
    font-size: 50px;
    font-family: "miFuente", sans-serif;
    color: rgb(46, 255, 84);
}

.contenedor{
    margin-top: 20px;
}

/* CONTENEDOR DE CARTAS*/
.personajes{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
}

/* CARTAS CON PERSONAJES INDIVIDUALES*/
.personaje{
    background: linear-gradient(220.55deg, #24CFC5 0%, #001C63 100%);
    margin: 10px;
    border: 1px solid rgb(161, 161, 161);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 200ms;
    color: white;
}

.personaje:hover{
    transform: scale(1.060);
    box-shadow: 0px 21px 42px -5px rgba(0,0,0,0.37);
    -webkit-box-shadow: 0px 21px 42px -5px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 21px 42px -5px rgba(0,0,0,0.37);
}

p{
    font-size: 20px; 
}

#nombre, #estatus, #especie{
    margin: 5px 0 0 0;
}